/* profilePage.module.css */

.profileContainer {
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
  /* margin-left: 560px; */
  margin-bottom: 20px;
  margin-top: 20px;
}

.profileSection {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* a{
  display: flex;
  align-items: center;
  margin-left: 300px;
} */
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin-bottom: 10px;
}

textarea,
input[type="text"] {
  /* width: 100px; */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
  text-align: center;
  /* width: 500px; */
}

.page {
  margin-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.detailsContainer {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  
}

.detailsContainer h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.detailsContainer img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.detailsContainer p {
  margin-bottom: px;
}

.imageP {
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagePP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
}

.Butt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
@media (max-width: 768px) {
  .profileContainer {
    margin: 20px auto; /* Adjust margin for smaller screens */
    padding: 0 20px; /* Add padding to the container */
  }

  .detailsContainer img {
    max-width: 150px; /* Adjust image size for smaller screens */
  }

  .imagePP {
    margin-left: 5%; /* Adjust margin for smaller screens */
  }
}

@media (max-width: 576px) {
  .profileContainer {
    margin: 10px auto; /* Further adjust margin for very small screens */
  }

  .imagePP {
    margin-left: 2%; /* Further adjust margin for very small screens */
  }
}
@media (max-width: 480px) {
  .profileContainer {
    margin: 5px auto; /* Adjust margin for extremely small screens */
  }

  .detailsContainer img {
    max-width: 120px; /* Further reduce image size for very small screens */
  }

  .imagePP {
    margin-left: 1%; /* Further reduce margin for very small screens */
  }
}

@media (max-width: 374px) {
  .profileContainer {
    margin: 5px auto; /* Adjust margin for smallest screens */
  }

  .detailsContainer img {
    max-width: 100px; /* Adjust image size for smallest screens */
  }

  .imagePP {
    margin-left: 0; /* Remove margin for smallest screens */
  }
}
