.navbar {
  width: 100%;
  height: 80px;
  /* background-color: rgb(19, 19, 19); */
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar ul {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.navbar li {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
  list-style: none;
}
.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar a:hover {
  color: #12ccfa;
  cursor: pointer;
}
.togglebutt{
  width: 100px;
  height: 50px;
}
@media (max-width: 768px) {
  .navbar ul {
    margin-right: 20px; /* Adjust margin for smaller screens */
  }

  .navbar li {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .navbar {
    height: 60px; /* Adjust navbar height for smaller screens */
  }

  .navbar ul {
    margin-right: 10px; /* Adjust margin for even smaller screens */
  }

  .navbar li {
    font-size: 16px; /* Adjust font size for even smaller screens */
  }
}
@media (max-width: 430px) {
  .navbar {
    height: 50px; /* Adjust navbar height for very small screens */
  }

  .navbar ul {
    margin-right: 5px; /* Adjust margin for very small screens */
  }

  .navbar li {
    font-size: 14px; /* Adjust font size for very small screens */
  }
}